<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos de almacenamiento -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Opcional si necesitas escribir -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubastaApp">

        <!-- Actividad Principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Inicio de Sesión -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login_activity_label">
        </activity>

        <!-- Actividad de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Registro" />

        <!-- Actividad de Creación de Subasta -->
        <activity
            android:name=".CreateAuctionActivity"
            android:label="Crear Subasta"
            android:exported="true" />

    </application>

</manifest>
